<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.cenet.hotel"
        version   = "0.0.1">
    <name>Files</name>

    <description>
       app
    </description>

    <author href="http://www.iwsoft.com.mx" email="ivaneric79@gmail.com">
        iWsoft
    </author>

      <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/battery"/>
<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/contacts"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/notification"/>
<plugin name="Storage" value="org.apache.cordova.Storage" />
<plugin name="Capture" value="org.apache.cordova.Capture"/>
<plugin name="File" value="org.apache.cordova.FileUtils" />
<plugin name="FileTransfer" value="org.apache.cordova.FileTransfer" />
<plugin name="Media" value="org.apache.cordova.AudioHandler" />

    <preference name="phonegap-version" value="2.3.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />

    <icon src="img/logo.jpg" />
    <icon src="img/logo.jpg"   gap:platform="android"    gap:density="ldpi" />
    <icon src="img/logo.jpg"   gap:platform="ios"        width="57" height="57" />

    <gap:splash src="img/screen.jpg"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="img/screen.jpg"    gap:platform="ios"     width="320" height="480" />
	
	<access origin="*" subdomains="true" />
</widget>